.btn {
  outline: none;
  border: 0px;

  &:hover {
    cursor: pointer;
  }

  &.remove {
    background-color: #e74c3c;
    border-radius: 5px;
    color: #fff;
  }

  &.send {

  }

  &.balloon {
    padding: 10px 12px;
    border-radius: 50%;
    background-color: $main-color;
    color: $secondary-color;
  }
}