.btn {
  outline: none;
  border: 0px;

  &:hover {
    cursor: pointer;
  }

  &.remove {
    align-self: center;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid $remove-color;
    color: $remove-color;
    font-size: 10px;
    height: auto;
    width: 19px;
    padding: 2px 0px;
  }

  &.send {

  }

  &.balloon {
    padding: 10px 12px;
    border-radius: 50%;
    background-color: $main-color;
    color: $secondary-color;
  }
}