.list {

  ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    overflow-x: hidden;
  }

  .no-notes {
    color: #cecece;
    font-style: italic;
    font-weight: 100;
    text-align: center;
    padding: 10px;
  }

  .list-item {
    display: flex;
    min-height: 18px;
    padding: 10px;    
    border-bottom: 1px solid #eee;
    transition: background-color 0.5s;

    &:hover {
      background-color: #f9f9f9;

      .btn-item  {
        button {
          display: block;
        }
      }
    }

    .text-item {
      flex: 1;
      width: 90%;
      position: relative;
      padding: 0 0 0 10px;
      overflow-wrap: break-word;

      span {
        font-size: 10px;
        color: #cecece;
        position: absolute;
        left: -5px;
        bottom: -10px;
      }

      .text-item-remove {
        font-size: 10px;
        color: #cecece;
        position: absolute;
        right: 0px;
        bottom: -9px;
      }
    }

    .btn-item {
      width: 20px;
      align-self: center;

      button {
        display: none;
      }
    }
  }

  &.list-popup {
    max-height: 230px;
    overflow: scroll;
    margin-bottom: 15px;
    background-color: #fff;
    border-radius: 15px;

    .list-item {

      .text-item {
        padding: 0px 5px 0px 15px;
        font-size: 0.9em;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;

        span {
          font-size: 9px;
          color: #cecece;
          position: absolute;
          left: 0px;
          bottom: 0px;
        }

        .text-item-remove {
          font-size: 10px;
          color: #cecece;
          position: absolute;
          right: 0px;
          bottom: 0px;
        }
      }
    }
  }
}