.list {

  ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
  }

  .list-item {
    display: flex;

    span {
      flex: 1;
    }
  }

  &.list-popup {
    max-height: 180px;
    min-height: 180px;
    overflow: scroll;
  }

  &.insert-item {
    display: flex;

    input {
      flex: 1;
    }

    button {

    }
  }
}