@import 'animate.scss';
@import 'font.scss';
@import 'variables.scss';
@import 'normalize.scss';
@import 'flexboxgrid.scss';
@import 'quick-notes.scss';
@import 'list.scss';
@import 'loader.scss';
@import 'button.scss';
@import 'errorbag.scss';

html, body {
  height: 100%;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;

  .container-list {
    display: flex;
    min-height: 90vh;
    flex-direction: column;
  }
}