@import 'variables.scss';
@import 'normalize.scss';
@import 'flexboxgrid.scss';
@import 'quick-notes.scss';
@import 'list.scss';
@import 'loader.scss';
@import 'button.scss';

html, body {
  background: #323232;
  color: #fff;
  overflow-x: hidden;

  .container-list {
    display: flex;
    min-height: 90vh;
    flex-direction: column;
  }
}